<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать статью - Блог хорошего электрика</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1> Создать статью </h1>

<form action="" method="post">
    <h3> Название статьи: <input type="text" size=20 name = "title"> <br> </h3>
    <br>
    <h3> Текст статьи: <input type="text" size=80 name = "text" ><br> </h3>
    <br>
    <button type="submit">Отправить!</button>
</form>

</body>
</html>